In [25]:
import numpy as np
import pandas as pd
import seaborn as sns

In [26]:
salaries = pd.read_csv('data/salaries_data.csv')

In [27]:
salaries.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250,USD,140250,US,100,US,M
1,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000,USD,100000,US,100,US,M
3,2021,MI,CT,ML Engineer,270000,USD,270000,US,100,US,L
4,2021,MI,FT,Data Engineer,22000,EUR,26005,RO,0,US,L

In [28]:
test = pd.read_csv('data/testeo.csv')

In [29]:
test.head()

,work_year,experience_level,employment_type,job_title,employee_residence,remote_ratio,company_location,company_size
0,2020,SE,FT,Machine Learning Scientist,JP,0,JP,S
1,2020,MI,FT,Lead Data Analyst,US,100,US,L
2,2020,MI,FT,Data Analyst,US,100,US,L
3,2020,MI,FT,Machine Learning Engineer,CN,0,CN,M
4,2020,MI,FT,Product Data Analyst,IN,100,IN,L

In [30]:
len(salaries.columns)==len(test.columns)

False

In [31]:
salaries.drop(columns=salaries[['salary', 'salary_currency']], axis=1, inplace=True)

In [32]:
len(salaries.columns)

9

In [33]:
salaries.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary_in_usd', 'employee_residence', 'remote_ratio',
       'company_location', 'company_size'],
      dtype='object')

In [34]:
test.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size'],
      dtype='object')

In [35]:
len(test.columns)

8

In [36]:
from pycaret.regression import *
s= setup(salaries, target = 'salary_in_usd')

In [ ]:
best = compare_models(sort = 'RMSE')

Initiated  . . . . . . . . . . . . . . . . . .                 17:34:22
Status     . . . . . . . . . . . . . . . . . .         Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Regressor

Processing:   0%|          | 0/81 [00:00<?, ?it/s]

In [ ]:
print(best)

In [ ]:
evaluate_model(best)

In [ ]:
predictions = predict_model(best,data = test)

In [ ]:
predictions

In [ ]:
solution1 = predictions.prediction_label

In [ ]:
solution1 = pd.DataFrame(predictions.prediction_label)
solution1

In [ ]:
solution1.reset_index(drop=True, inplace=True)

In [ ]:
solution1

In [ ]:
solution1.rename(columns={"index": "id", 'prediction_label': "salary_in_usd"}, inplace= True)

In [ ]:
solution1

In [ ]:
solution1.to_csv('sols/sol1.csv')